body {
  font-family: Arial;
}

.card {
  border-radius: 12px;
}

h2 {
  font-weight: bold;
}

input:focus {
  border-color: #0d6efd;
}

.text-success {
  font-weight: bold;
}

.text-danger {
  font-weight: bold;
}

button {
  padding: 10px;
}

label {
  font-weight: 500;
}

#userMsg {
  display: block;
  margin-top: 5px;
}

#suggested {
  color: green;
}

.form-control {
  border-radius: 8px;
}

.container {
  max-width: 500px;
}

.bg-light {
  background: linear-gradient(to right, #e3f2fd, #ffffff);
}

.card:hover {
  transform: scale(1.01);
  transition: 0.2s;
}